@import 'variables';


.fvLogoWrapper {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  overFlow: hidden;
  margin: auto;
  z-index: -123;
  background: $bgBlack;
  user-select: none;
  display: flex;
  align-items: center;
}

.fvLogo {
  padding-top: 5rem;
  margin: auto;

  @include mq(sm) {
    padding-top: 0;
    width:70%;
  }
}