@import 'variables';

.copylight {
  font-size: 12px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 400;
}

.footerContainer {
  width: 100%;
  padding: 2;
  margin: 0;
  background-color: $deepGray;
  // flexGrow: 1,
  // width: '100%',
  // pt: 2,
  // pb: 2,
  // px: 2,
  // mt: 0,
  // mb: 0,
  // mx: 0,
  // background: '#292929',
}

.twoWayFlex {
  @include twoWayFlex();
}

.flexItem {

}

.footerLogoWrapper {

}