@import 'variables';

.innerContainer {
  max-width: 1050px;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 1rem;
  background-color: rgba(18, 18, 18, 0.95);
  backdrop-filter: blur(6px);

  @include mq(sm) {
      width: 100%;
      padding: 0 2rem;
  }
}



